/* Estilos para el contenedor del dropdown */
.dropdown-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Estilos para el botón del dropdown */
.dropdown-button {
  background-color: #686868;
  color: #ffffff;
  border: none;
  padding: 16px 60px; /* Aumentar el padding para hacer el botón más grande */
  font-size: 1.25rem; /* Aumentar el tamaño de la fuente */
  cursor: pointer;
  border-radius: 6px; /* Hacer los bordes más redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Hacer la sombra un poco más grande */
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  gap: 12px; /* Espacio adicional entre el texto y el ícono */
  font-family: 'Roboto', sans-serif; /* Mantener la fuente consistente */
}

/* Estilo para el botón al pasar el ratón por encima */
.dropdown-button:hover {
  background-color: #686868;
}

/* Estilo para el botón al presionar */
.dropdown-button:active {
  transform: scale(0.95);
}

/* Estilos para el menú desplegable */
.dropdown-menu {
  display: none;
  position: absolute;
  top: calc(100% + 10px); /* Ubicación justo debajo del botón con un margen */
  left: 50%; /* Centra el menú con respecto al botón */
  transform: translateX(-50%) scaleY(0); /* Ajusta la posición horizontal y escala el menú a 0 */
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 21; /* Asegúrate de que el menú esté por encima de la caja de información */
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Mostrar el menú desplegable cuando está activo */
.dropdown-menu.active {
  display: block;
  opacity: 1;
  transform: translateX(-50%) scaleY(1); /* Ajusta la posición horizontal y escala el menú a su tamaño original */
}

/* Estilos para la lista de resultados en el menú desplegable */
.results-dropdown {
  max-height: 300px;
  overflow-y: auto;
}

/* Estilos para los ítems de resultados */
.result-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  color: #333;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Estilo para el ítem de resultado al pasar el ratón por encima */
.result-item:hover {
  background-color: #f2f2f2;
  transform: translateX(5px);
}

/* Estilos para las partes individuales del ítem de resultado */
.result-number {
  font-weight: bold;
}

.result-license-plate {
  font-size: 1.2rem;
}

.result-passengers {
  font-size: 1.2rem;
  color: #666;
}

.result-item i {
  margin-right: 8px;
}

/* Estilos para la caja de información */
.info-box {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 15px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px; /* Borde redondeado para estilo BentoGrid */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  animation: infoBoxFadeIn 0.5s ease-out, infoBoxFloat 3s infinite ease-in-out; /* Animaciones */
  align-items: center; /* Centra verticalmente */
}

/* Estilo para la imagen en la caja de información */
.info-image {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  overflow: hidden;
  border-radius: 8px;
}

/* Ajusta la imagen para cubrir el contenedor sin deformarse */
.info-image img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  animation: imageScale 0.5s ease-out;
}

/* Animación para la imagen dentro de la caja de información */
@keyframes imageScale {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Estilos para los detalles en la caja de información */
.info-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Estilos para cada ítem de información */
.info-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #333;
}

/* Animación de aparición para la caja de información */
@keyframes infoBoxFadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Estilo de los iconos dentro de la caja de información */
.info-details i {
  color: #686868; /* Color de iconos */
  margin-right: 8px;
}

h2, p {
  font-size: 24px; /* Ajuste del tamaño de la fuente */
  margin-bottom: 20px;
  z-index: 2; /* Asegura que el texto esté por encima del fondo oscuro */
  position: relative;
}
