---
// src/pages/about.astro
import BaseLayout from '../layouts/BaseLayout.astro';
import "../styles/about.css"
---
<BaseLayout>
  <section class="about-section">
    <div class="about-content">
      <h2>Sobre Nosotros</h2>
      <p>En TuBus, estamos comprometidos a mejorar la movilidad urbana en Chile mediante soluciones tecnológicas de vanguardia. Nuestra misión es hacer que el transporte público sea más eficiente, accesible y cómodo para todos.</p>
    </div>
  </section>
</BaseLayout>

<style>
</style>
