---
// src/pages/services.astro
import BaseLayout from '../layouts/BaseLayout.astro';
import "../styles/services.css"
---
<BaseLayout>
  <section class="services-section">
    <h2>Servicios</h2>
    <div class="services-grid">
      <div class="service-item">
        <h3>Monitoreo en Tiempo Real</h3>
        <p>Conoce la ubicación exacta de los autobuses en tiempo real para una mejor planificación de tu viaje.</p>
      </div>
      <div class="service-item">
        <h3>Optimización de Rutas</h3>
        <p>Optimiza tus rutas de transporte para reducir tiempos de espera y mejorar la eficiencia del servicio.</p>
      </div>
      <div class="service-item">
        <h3>Aplicación Móvil</h3>
        <p>Una aplicación intuitiva y fácil de usar para consultar horarios, rutas y más desde tu móvil.</p>
      </div>
    </div>
  </section>
</BaseLayout>

<style>
</style>
