---
import '../styles/footer.css'
---
<footer>
    <div class="footer-content">
        <p class="footer-text">&copy; 2023 TuBus-webpage</p>
        <ul class="footer-buttons">
            <li><a href="/" class="social-button"><i class="fab fa-twitter"></i></a></li>
            <li><a href="/" class="social-button"><i class="fab fa-github"></i></a></li>
            <li><a href="/" class="social-button"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="/" class="social-button"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
    </div>
</footer>

