---
import '../styles/Navbar.css';
---
<nav class="navbar">
  <a href="https://i.imgur.com/b7nx6n5.png" class="logo">
    <img src="https://i.imgur.com/b7nx6n5.png" alt="TuBus Logo" />
  </a>
  <ul class="menu">
    <li><a href="/">Inicio</a></li>
    <li><a href="/about">Sobre Nosotros</a></li>
    <li><a href="/services">Servicios</a></li>
    <li><a href="/contact">Contacto</a></li>
  </ul>
</nav>

<style>
</style>
